<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <title>Survey</title>
    <link rel="stylesheet" type="text/css" href="../css/survey.css">
    <script src="../js/survey.js"></script>
</head>
<body>
<div class="container">
    <div class="whole_box">
        <div class="box_heading">
            Survey
        </div>
        <form class="form_container">
            <!-- Patient felt comfortable today  -->
            <div class="form-group">
                <label class="label_haeding">Patient felt comfortable today</label>
                <div class="form-check">
                    <div class="row">
                        <div class="col-2">
                            <input class="form-check-input" type="radio" name="comfortable_Radios" id="comfortable_5" value="comfortable1" >
                            <label class="form-check-label" for="comfortable_5">
                               Strongly Disagree
                            </label>
                        </div>

                        <div class="col-2">
                            <input class="form-check-input" type="radio" name="comfortable_Radios" id="comfortable_4" value="comfortable2">
                            <label class="form-check-label" for="comfortable_4">
                                Disagree
                            </label>
                        </div>
                        <div class="col-2">
                            <input class="form-check-input" type="radio" name="comfortable_Radios" id="comfortable_3" value="comfortable3" >
                            <label class="form-check-label" for="comfortable_3">
                                Neutral
                            </label>
                        </div>
                        <div class="col-2">
                            <input class="form-check-input" type="radio" name="comfortable_Radios" id="comfortable_2" value="comfortable4" >
                            <label class="form-check-label" for="comfortable_2">
                                Agree
                            </label>
                        </div>
                        <div class="col-2">
                            <input class="form-check-input" type="radio" name="comfortable_Radios" id="comfortable_1" value="comfortable5">
                            <label class="form-check-label" for="comfortable_1">
                                Strongly Agree
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Patient was OK with the speed of the spiders during today's experience  -->
            <div class="form-group">
                <label class="label_haeding">Patient was OK with the speed of the spiders during today's experience</label>
                <div class="form-check">
                    <div class="row">
                        <div class="col-2">
                            <input class="form-check-input" type="radio" name="speed_Radios" id="speed_5" value="comfortable1" >
                            <label class="form-check-label" for="speed_5">
                                Strongly Disagree
                            </label>
                        </div>

                        <div class="col-2">
                            <input class="form-check-input" type="radio" name="speed_Radios" id="speed_4" value="comfortable2">
                            <label class="form-check-label" for="speed_4">
                                Disagree
                            </label>
                        </div>
                        <div class="col-2">
                            <input class="form-check-input" type="radio" name="speed_Radios" id="speed_3" value="comfortable3" >
                            <label class="form-check-label" for="speed_3">
                                Neutral
                            </label>
                        </div>
                        <div class="col-2">
                            <input class="form-check-input" type="radio" name="speed_Radios" id="speed_2" value="comfortable4" >
                            <label class="form-check-label" for="speed_2">
                                Agree
                            </label>
                        </div>
                        <div class="col-2">
                            <input class="form-check-input" type="radio" name="speed_Radios" id="speed_1" value="comfortable5">
                            <label class="form-check-label" for="speed_1">
                                Strongly Agree
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Patient was OK with the number of spiders during today's experience  -->
            <div class="form-group">
                <label class="label_haeding">Patient was OK with the number of spiders during today's experience </label>
                <div class="form-check">
                    <div class="row">
                        <div class="col-2">
                            <input class="form-check-input" type="radio" name="number_Radios" id="number_5" value="comfortable1" >
                            <label class="form-check-label" for="number_5">
                                Strongly Disagree
                            </label>
                        </div>

                        <div class="col-2">
                            <input class="form-check-input" type="radio" name="number_Radios" id="number_4" value="comfortable2">
                            <label class="form-check-label" for="number_4">
                                Disagree
                            </label>
                        </div>
                        <div class="col-2">
                            <input class="form-check-input" type="radio" name="number_Radios" id="number_3" value="comfortable3" >
                            <label class="form-check-label" for="number_3">
                                Neutral
                            </label>
                        </div>
                        <div class="col-2">
                            <input class="form-check-input" type="radio" name="number_Radios" id="number_2" value="comfortable4" >
                            <label class="form-check-label" for="number_2">
                                Agree
                            </label>
                        </div>
                        <div class="col-2">
                            <input class="form-check-input" type="radio" name="number_Radios" id="number_1" value="comfortable5">
                            <label class="form-check-label" for="number_1">
                                Strongly Agree
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Patient was not scared by proximity of spiders today  -->
            <div class="form-group">
                <label class="label_haeding">Patient was not scared by proximity of spiders today</label>
                <div class="form-check">
                    <div class="row">
                        <div class="col-2">
                            <input class="form-check-input" type="radio" name="proximity_Radios" id="proximity_5" value="comfortable1" >
                            <label class="form-check-label" for="proximity_5">
                                Strongly Disagree
                            </label>
                        </div>

                        <div class="col-2">
                            <input class="form-check-input" type="radio" name="proximity_Radios" id="proximity_4" value="comfortable2">
                            <label class="form-check-label" for="proximity_4">
                                Disagree
                            </label>
                        </div>
                        <div class="col-2">
                            <input class="form-check-input" type="radio" name="proximity_Radios" id="proximity_3" value="comfortable3" >
                            <label class="form-check-label" for="proximity_3">
                                Neutral
                            </label>
                        </div>
                        <div class="col-2">
                            <input class="form-check-input" type="radio" name="proximity_Radios" id="proximity_2" value="comfortable4" >
                            <label class="form-check-label" for="proximity_2">
                                Agree
                            </label>
                        </div>
                        <div class="col-2">
                            <input class="form-check-input" type="radio" name="proximity_Radios" id="proximity_1" value="comfortable5">
                            <label class="form-check-label" for="proximity_1">
                                Strongly Agree
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Patient felt challenged today -->
            <div class="form-group">
                <label class="label_haeding">Patient felt challenged today</label>
                <div class="form-check">
                    <div class="row">
                        <div class="col-2">
                            <input class="form-check-input" type="radio" name="challenged_Radios" id="challenged_5" value="comfortable1" >
                            <label class="form-check-label" for="challenged_5">
                                Strongly Disagree
                            </label>
                        </div>

                        <div class="col-2">
                            <input class="form-check-input" type="radio" name="challenged_Radios" id="challenged_4" value="comfortable2">
                            <label class="form-check-label" for="challenged_4">
                                Disagree
                            </label>
                        </div>
                        <div class="col-2">
                            <input class="form-check-input" type="radio" name="challengedRadios" id="challenged_3" value="comfortable3" >
                            <label class="form-check-label" for="challenged_3">
                                Neutral
                            </label>
                        </div>
                        <div class="col-2">
                            <input class="form-check-input" type="radio" name="challenged_Radios" id="challenged_2" value="comfortable4" >
                            <label class="form-check-label" for="challenged_2">
                                Agree
                            </label>
                        </div>
                        <div class="col-2">
                            <input class="form-check-input" type="radio" name="challenged_Radios" id="challenged_1" value="comfortable5">
                            <label class="form-check-label" for="challenged_1">
                                Strongly Agree
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Patient was happy with the level of therapist interaction today -->
            <div class="form-group">
                <label class="label_haeding">Patient was happy with the level of therapist interaction today</label>
                <div class="form-check">
                    <div class="row">
                        <div class="col-2">
                            <input class="form-check-input" type="radio" name="level_Radios" id="level_5" value="comfortable1" >
                            <label class="form-check-label" for="level_5">
                                Strongly Disagree
                            </label>
                        </div>

                        <div class="col-2">
                            <input class="form-check-input" type="radio" name="level_Radios" id="level_4" value="comfortable2">
                            <label class="form-check-label" for="level_4">
                                Disagree
                            </label>
                        </div>
                        <div class="col-2">
                            <input class="form-check-input" type="radio" name="level_Radios" id="level_3" value="comfortable3" >
                            <label class="form-check-label" for="level_3">
                                Neutral
                            </label>
                        </div>
                        <div class="col-2">
                            <input class="form-check-input" type="radio" name="level_Radios" id="level_2" value="comfortable4" >
                            <label class="form-check-label" for="level_2">
                                Agree
                            </label>
                        </div>
                        <div class="col-2">
                            <input class="form-check-input" type="radio" name="level_Radios" id="level_1" value="comfortable5">
                            <label class="form-check-label" for="level_1">
                                Strongly Agree
                            </label>
                        </div>
                    </div>
                </div>
            </div>




            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>

</body>
</html>

